* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
}

nav {
  background-color: #3745c2;
}

.navbar {
  height: 100px;
  width: 100%vh;
  display: inline-block;
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-left: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: sans-serif;
  color: #fff;
}

.search {
  background-color: #fff;
  border: none;
  color: black;
}

.input-search {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.searchBtn {
  background-color: #63c96b;
  border: none;
  color: #fff;
}

.box {
  /* position: relative;   */
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.loader {
  position: absolute;
  top: 250%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-box {
  width: 250px;
  height: 260px;
  border: 1px solid black;
}

img {
  width: 100%;
}

.lisBox {
  padding: 10px;
}

.search {
  outline: none;
  padding: 10px;
}

.searchBtn {
  padding: 10px;
}

/* Loader */

.loader-div {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: relative;
  /* background: rgba(255, 255, 255, 0.8); */
  background-color: rgba(28, 13, 245, 0.8);
}
.loader-div:before,
.loader-div:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  /* background: #FFF; */
  background-color: blue;
  animation: slide 1s infinite linear alternate;
  opacity: 0.5;
}
.loader-div:after {
  animation: slide2 1s infinite linear alternate;
  opacity: 1;
}
@keyframes slide {
  0%,
  20% {
    transform: translate(0, 0);
  }
  80%,
  100% {
    transform: translate(15px, 15px);
  }
}
@keyframes slide2 {
  0%,
  20% {
    transform: translate(0, 0);
  }
  80%,
  100% {
    transform: translate(-15px, -15px);
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }

  h1 {
    display: block;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 0;
  }

  .input-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
